body{

    background-color: black;

}

.titulo{

        color: white;
        text-align: center;
        padding-top: 20px;
        font-family: arial;
      
}
.campo1, .campo2{
    height: 33px;
    width: 250px;
    text-align: center;
    margin-bottom: 15px;
    background-color: #555;
   border-radius: 5px;
   border-color: rgb(171, 160, 160);
   border-width: 0.1px;
    
    
    
    
}

.campo1{
    background-image: url(Twitter.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

.campo2{
    background-image: url(Youtube.png);
    background-repeat: no-repeat;
    background-position: 10px;

}

.ester, .center{

    text-align: center;
}

input::placeholder, .center{

    font-size: 13px;
    color: #fff;

}

.center{
    font-size: 20px;
}

.inputFinal{

    text-align: center;


}

.botao{

    text-align: center;   

}
.enviar1, .enviar2 {
    background-color: aqua;
    width: 250px;
    padding: 8px;
    border-radius: 8px;
}

.enviar1{
    margin-bottom: 8px;
}

.campo3, .campo4{
    height: 30px;
    width: 250px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-color: rgb(171, 160, 160);
    border-width: 0.1px;
    background-color: black;
    color: #fff;

}

.p1,.p2{
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.barra{
    width: 200px;
    text-align: center;
    position: relative;
    bottom: 12px;
}